## List

In [1]:
fruits = ['Banana','Apple','Orange','Grape','Kiwi']
numbers = [10,20,30,40]
data = ['X','Y','Z',1,2,True,False,['list','within','list'],3.14,0.1,None]
print(fruits)
print(numbers)
print(data)

['Banana', 'Apple', 'Orange', 'Grape', 'Kiwi']
[10, 20, 30, 40]
['X', 'Y', 'Z', 1, 2, True, False, ['list', 'within', 'list'], 3.14, 0.1, None]

In [2]:
print(fruits[0])
fruits[0]

Banana

'Banana'

In [3]:
print(fruits[0:3])
print(fruits[-2])
print(data[7][1])
print(fruits[:3])
print(fruits[2:])
print(fruits[:])
print(fruits[0:-1])
print(len(fruits))

['Banana', 'Apple', 'Orange']
Grape
within
['Banana', 'Apple', 'Orange']
['Orange', 'Grape', 'Kiwi']
['Banana', 'Apple', 'Orange', 'Grape', 'Kiwi']
['Banana', 'Apple', 'Orange', 'Grape']
5

In [4]:
fruits[0]='Watermelon'
fruits.append('Durian')
print(fruits)

fruits.insert(1,'Mango')
print(fruits)

fruits.remove('Kiwi')
print(fruits)

del fruits[0]
print(fruits)

['Watermelon', 'Apple', 'Orange', 'Grape', 'Kiwi', 'Durian']
['Watermelon', 'Mango', 'Apple', 'Orange', 'Grape', 'Kiwi', 'Durian']
['Watermelon', 'Mango', 'Apple', 'Orange', 'Grape', 'Durian']
['Mango', 'Apple', 'Orange', 'Grape', 'Durian']

In [10]:
fruits.reverse()
print(fruits)

['Apple', 'Durian', 'Grape', 'Mango', 'Orange']

In [6]:
print(data.index(3.14))

8

In [14]:
fruits.sort()
print(fruits)

numbers.sort(reverse=True)
print(numbers)

['Apple', 'Durian', 'Grape', 'Mango', 'Orange']
[40, 30, 20, 10]

In [17]:
fruits1=['Banana','Apple','Orange','apple','banana']
fruits1.sort(key=str.lower)
print(fruits1)

['Apple', 'apple', 'Banana', 'banana', 'Orange']

In [19]:
for idx,item in enumerate(fruits):
    print(idx,item)

0 Apple
1 Durian
2 Grape
3 Mango
4 Orange

In [22]:
zerose = [0] * 100
print(zerose)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
newlist = fruits + numbers
print(newlist)

['Apple', 'Durian', 'Grape', 'Mango', 'Orange', 40, 30, 20, 10]

## Dictonary

In [1]:
laptop = {'Brand':'Apple','Model':'MacBook Pro','size':13}
print(laptop)

{'Brand': 'Apple', 'Model': 'MacBook Pro', 'size': 13}

In [2]:
laptop['size']=20
print(laptop)

print(laptop['Brand'])

laptop.update({'Brand':'Lenovo','Model':'MacBook Air','size':23,'color':'gray'})
print(laptop)

{'Brand': 'Apple', 'Model': 'MacBook Pro', 'size': 20}
Apple
{'Brand': 'Lenovo', 'Model': 'MacBook Air', 'size': 23, 'color': 'gray'}

In [3]:
a=laptop.pop('color')
print(a)
print(laptop)

gray
{'Brand': 'Lenovo', 'Model': 'MacBook Air', 'size': 23}

In [4]:
del laptop['size']
print(laptop)

{'Brand': 'Lenovo', 'Model': 'MacBook Air'}

In [12]:
laptop.update({'Brand':'Lenovo','Model':'MacBook Air','size':23,'color':'gray'})
print(laptop)
print("-----------------------------------------")

for i in laptop.keys():
    print(i)
    
print("-----------------------------------------")

for i,j in laptop.items():
    print(i,":",j)
    
print("-----------------------------------------")
for i in laptop.values():
    print(i)

{'Brand': 'Lenovo', 'Model': 'MacBook Air', 'size': 23, 'color': 'gray'}
-----------------------------------------
Brand
Model
size
color
-----------------------------------------
Brand : Lenovo
Model : MacBook Air
size : 23
color : gray
-----------------------------------------
Lenovo
MacBook Air
23
gray

In [21]:
print(laptop['color'])

print(laptop.get('height','Key not found'))

print(laptop.get('height'))  # It will not shows error even if the item is not present in dictonary

gray
Key not found
None

In [23]:
laptop.setdefault('company','Microsoft') #The item which is not exist will add in the list
print(laptop)
print('-------------------------------------')
laptop.setdefault('Brand','Microsoft') #The item which is already exist will not change
print(laptop)

{'Brand': 'Lenovo', 'Model': 'MacBook Air', 'size': 23, 'color': 'gray', 'company': 'Microsoft'}
-------------------------------------
{'Brand': 'Lenovo', 'Model': 'MacBook Air', 'size': 23, 'color': 'gray', 'company': 'Microsoft'}

In [27]:
import pprint
employee = {'Robin':{'age':22,'salary':23000},
           'Jeff':{'age':27,'salary':13000},
           'Mac':{'age':20,'salary':3000}}
pprint.pprint(employee)
print('-----------------------------')
print(employee)

{'Jeff': {'age': 27, 'salary': 13000},
 'Mac': {'age': 20, 'salary': 3000},
 'Robin': {'age': 22, 'salary': 23000}}
-----------------------------
{'Robin': {'age': 22, 'salary': 23000}, 'Jeff': {'age': 27, 'salary': 13000}, 'Mac': {'age': 20, 'salary': 3000}}

## Exception Handling: Using Try and Except block

In [ ]:
try:
    block of code
except:
    execute when error happens
else:
    execute when there is no error
finally:
    always execute
    
raise exceptions #User defined exeptions

In [8]:
def addNumbers(num1,num2):
    try:
        return(num1+num2)
    except TypeError:   #will handel only type error
        return('Invalid Number')
    #except NameError:
        #return('Invalid parameter')
    except Exception as e:  #Will handle what is error
        return(e)
    #return(num1+num2)
print(addNumbers(1,2))
print(addNumbers(1,'a'))
print('Execution Completed!')

3
Invalid Number
Execution Completed!

In [11]:
def addNumbers(num1,num2):
    try:
        if(isinstance(num1,int) or isinstance(num2,float) and isinstance(num1,float) or isinstance(num2,int)):
            return(num1+num2)
        else:
            raise Exception('Only int and float values are allowed')
    except Exception as e:
        return e

    return(num1+num2)
print(addNumbers(1,2))
print(addNumbers('a','b'))
print('Execution Completed!')

3
Only int and float values are allowed
Execution Completed!

In [13]:
def addNumbers(num1,num2):
    try:
        print(num1+num2)
    except TypeError:
        print('Invalid Number')
    except Exception as e:
        print(e)
    else:
        print('Succesfull...')
    finally:
        print('THE END...')
    
addNumbers(10,3)
addNumbers(10,'a')

13
Succesfull...
THE END...
Invalid Number
THE END...